body{
    margin: 0;
}
.page-one{
    background-image: url(images/Layer15.png);
    width: 100%;
    background-size: cover;
}
.page-one-container{
    width: 1217px;
    margin: auto;
}
.page-one-header{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 5px;
}
.page-one-header-menu{
    display:inline-flex;
}
.page-one-header__logo{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: xx-large;
}
.page-one-header-menu__about{
    margin-top: 10px;
    margin-right: 45px;
    color:yellow;
    font-family: 'Montserrat', sans-serif;
    text-decoration:underline;
}
.page-one-header-menu__text{
    margin-top: 10px;
    margin-right: 45px;
    color:white;
    font-family: 'Montserrat', sans-serif;
}
.page-one-header-menu__shoppingcart{
    margin-top: 10px;
    margin-right: 45px;
    width: 18px;
    height: 15px;
    background-image: url("images/SHOPPINGCART.png");
}
.page-one-header-menu__glass{
    margin-top: 10px;
    margin-right: 45px;
    width: 18px;
    height: 18px;
    background-image: url("images/MAGNIFYINGGLASS.png");
}
.page-one-content{
    margin-bottom: 100px;
 }
.page-one-content__text1{
    color:white;
    font-size: 70px;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    padding-top: 70px;
}
/*font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
 font-family: 'Kaushan Script', cursive;*/
.page-one-content__text2{
    padding-top: 2%;
    color:white;
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
}
.page-one-content__line{
    background-image: url("images/Rectangle 5 copy 2.png");
    width: 60px;
    height: 3px;
    margin-right: 520px;
    margin-left: 580px;
    margin-top: 25px;
    margin-bottom: 50px;
 }
.page-one-content__rectangle{
    background-image: url("images/Rectangle 12.png");
    width: 160px;
    height: 40px;
    margin-left: 530px;
    margin-top: 25px;
}
.page-one-content__rectangle-learn{
    text-align: center;
    color:white;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
}
.page-one-footer1{
    display: inline-flex;
    justify-content: space-between;
    margin-top: 100px;
   /* width: 100%;*/
    margin-bottom: 10px;
}
.page-one-footer1__first-child{
    display: inline-flex;
    margin-right: 30px;
}
.page-one-footer__redrectangle{
    background-image: url("images/Rectangle 4 copy.png");
    width: 70px;
    height: 3px;
}
.page-one-footer__whiterectangle{
    background-image: url("images/Rectangle 4.png");
    height: 3px;
    width: 210px;
}
.page-one-footer1__lastchild{
    background-image: url("images/Rectangle 41.png");
    width: 280px;
    height: 3px;
    margin-right: 30px;
    display: inline-flex;
}
.page-one-footer2 {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 45px;
    margin-bottom: 40px;
}
.page-one-footer2__child{
    color:white;
    font-size: larger;
    display: inline-flex;
}

.page-one-footer2__child-number{
    margin-right: 10px;
    color:white;
    font-size: xx-large;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.page-one-footer2__child-text{
        color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: unset;
    margin-top: 12px;
}

.page-two{
    background-color: white;
    width: 100%;
}
.page-two-container{
    width: 1217px;
    margin: auto;
}
.page-header__text1{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    margin-top: 35px;
    font-size: 30px;
    margin-bottom: 5px;
    padding-top: 65px;
}
.page-header__text2{
    text-align: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 35px;
}
.page-header__red-rectangle{
    background-image: url("images/Rectangle 5.png");
    width: 60px;
    height: 3px;
    margin-left: 580px;
    margin-top: 20px;
}
.page-two-content{
    padding-bottom: 100px;
    padding-top: 100px;
}
.page-two-content__block-images__img1{
    background-image: url("images/Layer 44.png");
    width: 380px;
    height: 250px;
}
.bloc3-img1-users{
    background-image: url("images/USERS.png");
    width: 32px;
    height: 23px;
}
.page-two-content__block-images__img2{
    background-image: url("images/Layer 39.png");
    width: 380px;
    height: 250px;
}
.page-two-content__block-images__img3{
    background-image: url("images/Layer 41.png");
    width: 380px;
    height: 250px;
}
.page-two-footer{
    /*background-image: url("images/Rectangle 7.png");*/
    background-color: paleturquoise;
    width: 100%;
    height: 270px;
}
.page-two-footer-container{
    width: 1217px;
    display: inline-flex;
    justify-content: space-between;
    margin-left: 350px;
}
.number{
    color:white;
    font-size: larger;
}
.page-two-content__block-images{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
.number-text{
     font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: inline-flex;
    color: white;
}
.number{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 95px;
}
.img1{
    background-image: url("images/ALARM.png");
    height: 31px;
    width: 32px;
}
.img2{
    background-image: url("images/LINE GRAPH.png");
    height: 32px;
    width: 32px;
}
.page-two-header__text{
    text-align: center;
    color:gray;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
}
.img3{
    background-image: url("images/COMPUTER _ OK.png");
    width: 32px;
    height: 28px;
}
.img4{
    background-image: url("images/BOOK 2.png");
    width: 32px;
    height: 32px;
}
.img5{
    background-image: url("images/HOME.png");
    width: 32px;
    height: 31px;
}
.img6{
    background-image: url("images/IMAGE.png");
    width: 32px;
    height: 32px;
}
.text{
    color:gray;
    font-family: 'Roboto', sans-serif;
}
.gray-rectangle{
    background-image: url("images/Shape 4 copy.png");
    height: 1px;
    width: 1200px;
}
.page-three-container{
    width: 1217px;
    margin: auto;
}
.page-three-content{
    margin: 50px;
}
.page-three-content-bloc{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin: 50px;
}
.page-three-content-bloc__img{
    display: inline-flex;
    justify-content: space-between;
    width: 30%;
}
.page-four{
    background-image: url("images/Layer 45.png");
    width: 100%;
    background-size: cover;
}
.page-four-container{
    width: 1217px;
    margin: auto;
}
.page-four-content__tablet{
    background-image: url("images/display bg 768x1024.png");
    width: 570px;
    height: 620px
}
.page-four-content__iphone{
    background-image: url("images/White.png");
    width: 274px;
    height: 476px;
    margin-left: 410px;
    margin-top: 251px;
}
.page-four-content{
    display: inline-flex;
    width: 100%;
    justify-content: center;
}
.page-five-container{
    width: 1217px;
    margin: auto;
}
.page-five-content__image{
    background-image: url("images/Layer 43.png");
    width: 570px;
    height: 380px;
}
.page-five-content__reviews-arrow{
    background-image: url("images/ARROW _ DOWN.png");
  width: 22px;
    height: 12px;
}
.page-five-content__reviews-runner{
    background-image: url("images/Rectangle 11 copy.png");
    height: 90px;
    width: 5px;
}
.page-five-content__reviews-text{
    font-family: 'Roboto', sans-serif;
    font-style:italic;
    color:gray;
    font-weight: 100;
}
.page-five-content__reviews-item-image1{
    background-image: url("images/PICTURE.png");
    width: 30px;
    height: 30px;
    margin-right: 10px;

}
.page-five-content__reviews-item-image2{
    background-image: url("images/EQUALIZER.png");
    width: 28px;
    height: 32px;
    margin-right: 10px;
}
.page-five-content__reviews-item-image3{
    background-image: url("images/BULLSEYE.png");
    width: 32px;
    height: 32px;
    margin-right: 10px;
}
.page-five-content{
display: inline-flex;
justify-content: space-between;
width: 100%;
}
.reviews-item{
    display: inline-flex;
    border: 1px solid lightgray; /* Параметры границы */
    background: white;
    width: -webkit-fill-available;
    padding: 10px; /* Поля вокруг текста */
}
.item-name{
    margin-right: auto;
}
.text-reviews{
    display: inline-flex;
    border: 1px solid lightgray;
    background: white;
    width: -webkit-fill-available;
    padding: 10px;
    justify-content: space-evenly;
}
.carousel{
    margin-bottom: 50px;
    background-color: #F5F5F5;
    width: 100%;
    margin-top: 80px;
}
.carousel-container{
    width: 1217px;
    margin-left: 400px;
}
.carousel-image-border{
    background-image: url("images/Rectangle 13.png");
    width: 150px;
    height: 150px;
    margin: auto;
}
.carousel-image{
    background-image: url("images/SPEECH 4.png");
    width: 63px;
    height: 61px;
    margin: 40px;
}
.carousel-arrow-left{
    background-image: url("images/ARROW _ DOWN copy 2.png");
    height: 22px;
    width: 12px;
    margin: 80px;
}
.carousel-arrow-right{
    background-image: url("images/ARROW _ DOWN copy 2.png");
    transform: scaleX(-1);
    height: 22px;
    width: 12px;
    margin: 80px;
}
.carousel-text{
    color:gray;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    margin-bottom: 35px;
    margin-top: 10px;
}
.carousel-redrectangle{
    background-image: url("images/Rectangle 5.png");
    width: 60px;
    height: 3px;
    margin-top: 10px;
    margin-right: 5px;
}
.carousel-signature{
    font-family: 'Kaushan Script', cursive;
}
.carousel-container-block{
    display: inline-flex;
}
.carousel-content{
    display:inline-flex;
}
.carousel-content_text-signature {
    margin: 50px;
}
.carousel-signature-rectangle{
    display: inline-flex;

}
.page-six-conteiner{
    width: 1217px;
    margin: auto;
}
.block-image-one{
    background-image: url("images/Layer 16.png");
    width: 380px;
    height: 470px;
}
.block-image-two{
    background-image: url("images/Layer 19.png");
    height: 470px;
    width: 380px;
}
.block-image-three{
    background-image: url("images/Layer 18.png");
    width: 380px;
    height: 470px;
}
.page-six-content{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}
.block-text-one{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.block-text-two{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: gray;
    font-weight: 100;
}
.block-image-signature{
    padding-left: 130px;
    padding-top: 40px;

}
.facebook{
    margin-bottom: 5px;
    margin-top: 5px;
    background-image: url(images/facebook.png);
    width: 13px;
    height: 26px;
    margin-left: 15px;
}
.twitter{
    background-image: url("images/twitter.png");
    width: 26px;
    height: 22px;
    margin-left: 9px;
    margin-bottom: 5px;
    margin-top: 7px;

}
.instagramm{
    background-image: url("images/instagram.png");
    height: 26px;
    width: 26px;
    margin-left: 7px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.pinterest{
    background-image: url("images/pinterest.png");
    height: 26px;
    width: 21px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.block-image-one__networks{
    display: inline-flex;
    margin-left: 120px;
    margin-top: 200px;
    justify-content: space-between;
    width: 165px;
}
.facebook-container{
    width: 40px;
    height: 40px;
    background-color: #F08080;
}
.network-container{
    width: 40px;
    height: 40px;
    background-color: #FFD700;
}
.block-company{
    background-color: #F5F5F5;
}
.block-company__image{
  background-image: url("images/Layer 25.png");
    width: 1179px;
    height: 127px;
}
.block-company-container{
    margin-bottom: 100px;
    width: 1217px;
    margin-left: 370px;
    margin-top: 100px;
}
.page-seven-container{
    width: 1217px;
    margin:auto;
}
.page-seven-content__block-one-image1{
    background-image: url("images/Layer 26.png");
    width: 480px;
    height: 390px;
}
.page-seven-content__block-one-image2{
    background-image: url("images/Layer 35.png");
    width: 480px;
    height: 390px;
}
.page-seven-content__block-two-image1{
    background-image: url("images/Layer 33.png");
    height: 390px;
    width: 480px;
}
.page-seven-content__block-two-image2{
    background-image: url("images/Layer 29.png");
    width: 480px;
    height: 390px;
}
.page-seven-content_block-three{
    background-image: url("images/Layer 34.png");
    height: 780px;
    width: 480px;
}
.page-seven-content__block-four-image1{
    background-image: url("images/Layer 31.png");
    height: 390px;
    width: 480px;
}
.page-seven-content__block-four-image2{
    background-image: url("images/Layer 32.png");
    width: 480px;
    height: 390px;
}
.page-seven-content{
    display: inline-flex;
    width: 100%;
}
.page-seven-content__block-two__image-in{
    background-image: url("images/PICTURE.png");
    width: 30px;
    height: 30px;
}
.page-seven-content-block-two__image-in{
    background-image: url("images/PICTURE.png");
    width: 30px;
    height: 30px;
    margin-left: 65px;
    margin-bottom: 10px;
    margin-top: 15px;
}
.page-seven-content-block-two__text1{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color:white;
    margin-bottom: 5px;
    margin-top: 10px;
}
.page-seven-content-block-two__text2{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: white;
    font-weight: 100;
}
.page-seven-content__block-two-image2__signature{
   padding: 150px;
}
.carousel-two-image{
    background-image: url("images/Layer 36.png");
    width: 210px;
    height: 210px;
}
.carousel-two{
    margin-bottom: 30px;
    margin-top: 50px;
}
.page-eight{
    background-image: url("images/Layer 53.png");
    height: 830px;
}
.page-eight-content{
    margin-top: 100px;
    margin-bottom: 50px;
}
.page-eight-content_block-one-first-child-image{
 background-image: url("images/Layer 47.png");
    width: 110px;
    height: 110px;
    margin-right: 30px;
}
.page-eight-content_block-one-last-child-image{
    background-image: url("images/Layer 49.png");
    height: 110px;
    width: 110px;
    margin-right: 30px;
}
.page-eight-content_block-one{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 100px;
    margin-top: 10px;
}
.page-eight-container{
    margin: auto;
    width: 1217px;
}
.review-client{
    color:gray;
    font-family: 'Roboto', sans-serif;
}
.name-client{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 5px;
}
.profession-client{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: black;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 15px;
}
.rectangle-client{
    background-image: url("images/Rectangle 5.png");
    width: 60px;
    height: 3px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.page-eight-content_block-one-child{
    display: inline-flex;
}

.page-eight-content_block-two-first-child-image{
    background-image: url("images/Layer 50.png");
    height: 110px;
    width: 110px;
    margin-right: 30px;
}
.page-eight-content_block-two-last-child-image{
    background-image: url("images/Layer 51.png");
    width: 110px;
    height: 110px;
    margin-right: 30px;
}
.page-eight-content_block-two{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
.page-eight-content_block-two-child{
    display: inline-flex;
}
.page-nine-container{
    margin:auto;
    width: 1217px;
}
.blog-images__img-one{
    background-image: url("images/Layer 54.png");
    height: 240px;
    width: 380px;
}
.gray-line{
    background-image: url("images/Shape 4 copy.png");
    height: 1px;
    width: 385px;
}
.eye{
    background-image: url("images/VIEW.png");
    height: 12px;
    width: 20px;
    margin-right: 5px;
}
.message{
    background-image: url("images/SPEECH BUBBLE 2.png");
    height: 15px;
    width: 16px;
    margin-right: 5px;
}
.footer-blog{
    display: inline-flex;
}
.views{
    margin-right: 15px;
    display: inline-flex;
}
.comments{
    display: inline-flex;
}
.name-blog{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 5px;
}
.text-blog{
    color:gray;
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
    margin-bottom: 10px;
}
.blog-images__img-two{
    background-image: url("images/Layer 55.png");
    width: 380px;
    height: 240px;
}
.page-nine-content{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 100px;
    margin-top: 50px;
}
.blog-images__img-three{
    background-image: url("images/Layer 57.png");
    height: 240px;
    width: 380px;
}
.open-map{
    background-image: url("images/Layer 59.png");
    height: 200px;
    width: 100%;
}
.open-map-container{
    margin: auto;
    width: 1217px;
}
.open-map-logo{
    background-image: url("images/PIN 2.png");
    height: 75px;
    width: 60px;
    background-size: cover;
    margin-left: 570px;
}
.open-map-text{
    color: #F08080;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;

}
