body{
    margin: 0;
}
.page-one{
    background-image: url("images/Layer 15.png");
    width: 100%;
    height: 100%;
    background-position: right;

}
.page-one:hover{
    background-image: linear-gradient(to top, rgba(231, 211, 89, .85) 0%, rgba(186, 106, 104, .85) 100%), url("images/Layer 15.png");
}
.page-one-container{
    width: 1217px;
    margin: auto;
}
.page-one-header{
    display: flex;
    justify-content: space-between;
    width:1200px;
}
.page-one-header-menu{
    display:inline-flex;
  margin-top: 36px;
    width: 662px;
    height: 28px;
}
.page-one-header__logo{
    font-size: 30px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    margin-top: 21px;
    width: 85px;
    height: 21px;

}
.page-one-header-menu__text{
    margin-right: 51px;
    font-family: 'Montserrat';
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;

}
.page-one-header-menu__text:hover{
    color:#fce38a;
    border-bottom: 3px solid currentColor;
    cursor: pointer
}
.page-one-header-menu__shoppingcart{
    margin-right: 51px;
    width: 18px;
    height: 15px;
    background-image: url("images/SHOPPINGCART.png");
    line-height: 2px;
}
.page-one-header-menu__shoppingcart:hover{
    cursor: pointer;
}
.page-one-header-menu__glass{
    margin-right: 51px;
    width: 18px;
    height: 18px;
    background-image: url("images/MAGNIFYINGGLASS.png");

}
.page-one-header-menu__glass:hover{
    cursor: pointer;
}
.page-one-content{
 }
.page-one-content__text-one{
    font-size: 70px;
    color: #ffffff;
    font-family: "Kaushan Script";
    font-weight: 400;
    text-align: center;
    padding-top: 148px;
    height: 70px;
    padding-bottom: 63px;
}
/*font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
 font-family: 'Kaushan Script', cursive;*/
.page-one-content__text-two{
    font-size: 150px;
    line-height: 140px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    padding-bottom: 73px;
    text-align: center;

}
.page-one-content__line{
    background-image: url("images/Rectangle 5 copy 2.png");
    width: 60px;
    height: 3px;
    margin-right: 520px;
    margin-left: 580px;
    margin-top: 5px;
    margin-bottom: 50px;
 }
.page-one-content__rectangle{
   /* background-image: url("images/Rectangle 12.png");*/
    margin-left: 530px;
    width: 160px;
    height: 34px;
    background-color: rgba(0,0,0,0);
    border: 3px solid #ffffff;
    margin-bottom: 156px;
    margin-top: 1px;
}
.page-one-content__rectangle-learn{
    text-align: center;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
}
.page-one-footer-one{
    display: inline-flex;
    justify-content: space-between;

   /* width: 100%;*/
    margin-bottom: 28px;
}
.page-one-footer-one__first-child{
    display: inline-flex;
    margin-right: 30px;
}
.page-one-footer__redrectangle{
    background-image: url("images/Rectangle 4 copy.png");
    width: 70px;
    height: 3px;
}
.page-one-footer__whiterectangle{
    background-image: url("images/Rectangle 4.png");
    height: 3px;
    width: 210px;
}
.page-one-footer-one__lastchild{
    background-image: url("images/Rectangle 41.png");
    width: 280px;
    height: 3px;
    margin-right: 30px;
    display: inline-flex;
}
.page-one-footer2 {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 45px;
    margin-bottom: 40px;
}
.page-one-footer-two__child{
    margin-top: 23px;
    display: inline-flex;
    font-size: 24px;
    color: #ffffff;
    font-family: "Montserrat";

}

.page-one-footer-two__child-number{
    margin-right: 10px;
   /* color:white;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;*/
    font-weight: 700;
}
.page-one-footer-two__child-text{
    /*color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: unset;
    margin-top: 12px;*/

}

.page-two{
    background-color: white;
    width: 100%;
}
.page-two-container{
    width: 1200px;
    margin: auto;
}
.page-header__text-first{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    /*margin-top: 35px;*/
    font-size: 30px;
    margin-bottom: 5px;
    padding-top: 93px;
}
.page-header__text-last{
    text-align: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 35px;
    text-transform:  uppercase;
}
.page-header__red-rectangle{
    background-image: url("images/Rectangle 5.png");
    width: 60px;
    height: 3px;
    margin-top: 20px;
    margin: auto;
    /*margin-bottom: 50px;*/
}
.page-two-content{

}

.page-two-content__block-images__img-one{
    background-image: url("images/Layer 44.png");
    width: 380px;
    height: 250px;
    display: inline-flex;
    position:relative;

}
.page-two-content__block-images__img-one:hover{
   /* margin-left: -15px;
    margin-top: -10px;*/
    top:-10px;
    left:-5px;
    cursor: pointer;
    background-image: linear-gradient(to top, rgba(231, 211, 89, .85) 0%, rgba(186, 106, 104, .85) 100%), url("images/Layer 44.png");
    box-shadow: 9px 9px #95e1d3;
}

.page-two-content__block-images__img-two:hover{
    top:-10px;
    left:-5px;
    cursor: pointer;
    background-image: linear-gradient(to top, rgba(231, 211, 89, .85) 0%, rgba(186, 106, 104, .85) 100%), url("images/Layer 39.png");
    box-shadow: 9px 9px #95e1d3;
}
.page-two-content__block-images__img-three:hover{
   /* margin-left: -15px;
     margin-top: -10px;*/
    top:-10px;
    left:-5px;
    cursor: pointer;
    background-image: linear-gradient(to top, rgba(231, 211, 89, .85) 0%, rgba(186, 106, 104, .85) 100%), url("images/Layer 41.png");
    box-shadow: 9px 9px #95e1d3;
}
.page-two__super-team{
    display: none;
    position:absolute;
    text-align: -webkit-center;
    padding-left: 120px;
    padding-top: 100px;
}
.page-seven-content__signature{
    display: none;
    position:absolute;
}
.blue-shadow{
    background-image: url("images/Rectangle 6 copy 4.png");
    width: 380px;
    height: 251px;
    display: none;
    position:absolute;
    margin-left: 40px;

}
.page-two-content__block-images__img-one:hover .page-two__super-team {
    display:block;
}

.block-users{
    background-image: url("images/USERS.png");
    width: 32px;
    height: 23px;
   /* margin-left: 176px;*/
}
.text__super-team{
    text-align: center;
   /* margin-top: 100px;
    margin-bottom: 5px;*/
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

}


.page-two-content__block-images__img-two{
    background-image: url("images/Layer 39.png");
    width: 380px;
    height: 250px;
    display: inline-flex;
    position:relative;
}
.page-two-content__block-images__img-two:hover .page-two__super-team {
    display:block;
}

.page-two-content__block-images__img-three{
    background-image: url("images/Layer 41.png");
    width: 380px;
    height: 250px;
    display: inline-flex;
    position:relative;
}
.page-two-content__block-images__img-three:hover .page-two__super-team {
    display:block;
}

.page-two-footer{
    background-image: url("images/Rectangle 7.png");
   /* background-color: paleturquoise;*/
    width: 100%;
    height: 270px;
}
.page-two-footer-container{
    width: 1200px;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
}
.page-two-footer-content {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    }
.number{
    color:white;
    font-size: larger;
}
.page-two-content__block-images{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 100px;
}
.number-text{
    display: inline-flex;
    font-size: 14px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 400;
    text-align: center;
}
.number{
    font-size: 72px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
}
.clock{
    background-image: url("images/ALARM.png");
    height: 31px;
    width: 32px;
}
.graph{
    background-image: url("images/LINE GRAPH.png");
    height: 32px;
    width: 32px;
}
.page-two-header__text{
    /*width: 960px;
    height: 130px;*/
    margin-bottom: 95px;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-family: "Roboto";
    font-weight: 400;
    text-align: center;
    margin-top: 50px;
}
.computer{
    background-image: url("images/COMPUTER _ OK.png");
    width: 32px;
    height: 28px;
}
.book{
    background-image: url("images/BOOK 2.png");
    width: 32px;
    height: 32px;
}
.home{
    background-image: url("images/HOME.png");
    width: 32px;
    height: 31px;
}
.digital{
    background-image: url("images/IMAGE.png");
    width: 32px;
    height: 32px;
}
.text{
    width: 290px;
    height: 81px;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-family: "Roboto";
    font-weight: 400;
}
.gray-rectangle{
    background-image: url("images/Shape 4 copy.png");
    height: 1px;
    width: 1200px;
}
.page-three-container{
    width: 1200px;
    margin: auto;
}
.page-three-content{
    margin-top: 10px;
}
.page-three-content-bloc{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    /*margin: 50px;*/
}
.block-first-child{
    margin-top: 57px;
    margin-bottom: 5px;
}
.block-last-child{
    margin-top: 50px;
    margin-bottom: 75px;
}

.page-three-content-bloc__img{
    display: inline-flex;
    justify-content: space-between;
    /*width: 30%;*/
}
.icon{
    margin-right: 30px;
}
.page-four{
    background-image: url("images/Layer 45.png");
    width: 100%;
    background-size: cover;
}
.page-four-container{
    width: 1200px;
    margin: auto;
}
.page-four-content__tablet{
    background-image: url("images/display bg 768x1024.png");
    width: 570px;
    height: 620px
}
.page-four-content__iphone{
    background-image: url("images/White.png");
    width: 274px;
    height: 476px;
    margin-left: 410px;
    margin-top: 251px;
}
.page-four-content{
    display: inline-flex;
    width: 100%;
    justify-content: center;
}
.page-five-container{
    width: 1200px;
    margin: auto;
}
.page-five-content__reviews_item{
    margin-bottom: 10px;
    background-color: white;

}
.page-five-content__image{
    background-image: url("images/Layer 43.png");
    width: 570px;
    height: 380px;
}
.page-five-content__reviews-arrow{
    background-image: url("images/ARROW _ DOWN.png");
     width: 22px;
    height: 12px;
    margin-right: 20px;

}
.rotated {
    -webkit-transform: rotate(180deg);  /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(180deg);  /* Firefox 3.5-15 */
    -ms-transform: rotate(180deg);  /* IE 9 */
    -o-transform: rotate(180deg);  /* Opera 10.50-12.00 */
    transform: rotate(180deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}


.page-five-content__reviews-runner{
    background-image: url("images/Rectangle 11 copy.png");
    height: 90px;
    width: 15px;
}
/*.first-arrow:{
    transform: scaleY(-1);
}*/
.page-five-content__reviews{
    width: 600px;
}
.page-five-content__reviews-text{
    font-family: 'Roboto', sans-serif;
    font-style:italic;
    color:gray;
    font-weight: 100;
    margin: 20px;
    height: 100%;
    width: 525px;
}
.page-five-content__reviews-item-image1{
    background-image: url("images/PICTURE.png");
    width: 30px;
    height: 30px;
    margin: 15px;

}
.page-five-content__reviews-item-image2{
    background-image: url("images/EQUALIZER.png");
    width: 28px;
    height: 32px;
    margin: 15px;
}
.page-five-content__reviews-item-image3{
    background-image: url("images/BULLSEYE.png");
    width: 32px;
    height: 32px;
    margin: 15px;
}
.page-five-content{
display: inline-flex;
justify-content: space-between;
width: 100%;
}
.icon-text{
    display: inline-flex;
}
.reviews-item{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    width: 600px;
    height: 60px;
    background-color: rgba(0,0,0,0);
    border: 1px solid #e5e5e5;
    overflow: hidden;
    justify-content: space-between;
}


input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width:600px;
    height: 60px;
    margin: 0;
    padding: 0;
    opacity: 0;
}

/*input[type=checkbox]:checked +.reviews-item +.text-reviews{
    display: block;
    width: 600px;
    height: 181px;
    background-color: rgba(0,0,0,0);
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    overflow: scroll;
    position: relative;

}*/
.text-reviews{
    width: 600px;
    height: 181px;
    background-color: rgba(0,0,0,0);
   border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    overflow: auto;
    position: relative;
    display: none;
}
.ps__rail-x,
.ps__rail-y {
    opacity: 0.6;
    color: #00FFFF;
}

.item-name{
   /* margin-right: auto;*/
   align-items: center;
    font-size: 14px;
    color: #333333;
    font-family: "Montserrat";
    font-weight: 500;
    display: flex;
}

.carousel{
    background-color: #F5F5F5;
    width: 100%;
    margin-top: 80px;
}
.carousel-container{
    width: 1200px;
    /*margin-left: 400px;*/
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
}
.carousel-image-border{
margin: auto;
    width: 150px;
    height: 150px;
    background-color: rgba(0,0,0,0);
    border: 3px solid #95e1d3;
}
.carousel-image{
    background-image: url("images/SPEECH 4.png");
    width: 63px;
    height: 61px;
    margin: 40px;
}
.carousel-arrow-left{
    background-image: url("images/ARROW _ DOWN copy 2.png");
    height: 22px;
    width: 12px;
}
.arrow-three {
    margin-right:50px;
    margin-top: 80px;
    margin-bottom: 80px;
    background-image: url("images/ARROW _ DOWN copy 2.png");
    height: 22px;
    width: 12px;
}
.arrow-four {
    margin-left: 40px;
    margin-top: 80px;
    margin-bottom: 80px;
    background-image: url("images/ARROW _ DOWN copy 2.png");
    transform: scaleX(-1);
    height: 22px;
    width: 12px;
}
.arrow-three:hover, .arrow-four:hover{
    cursor: pointer;
}
.carousel-arrow-right{
    background-image: url("images/ARROW _ DOWN copy 2.png");
    transform: scaleX(-1);
    height: 22px;
    width: 12px;
}
.carousel-text{
    margin-bottom: 35px;
    margin-top: 10px;
    width: 770px;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
    font-family: "Roboto";
    font-weight: 300;
    font-style: italic;
}
.arrow-one {
    margin-right: 60px;
    margin-top: auto;
    margin-bottom: auto;
}
.arrow-two{
  margin-left: 60px;
    margin-top: auto;
    margin-bottom: auto;
}
.carousel-redrectangle{
    background-image: url("images/Rectangle 5.png");
    width: 60px;
    height: 3px;
    margin-top: 10px;
    margin-right: 5px;
}
.carousel-signature{
    font-family: 'Kaushan Script', cursive;
}
.carousel-container-block{
    display: inline-flex;
    overflow: hidden;
    width:1000px;
}
.carousel-container-block-two{
    display: inline-flex;
    overflow: hidden;
    width:1000px;
}
.carousel-content{
   /*width: 1026px;*/
    list-style: none;
    height: 241px;
    display: flex;
}
.carousel-content-two{
    list-style: none;
    height: 241px;
    display: flex;
}

/*.carousel-content-two{
    display: inline-flex;
}*/
.carousel-content__child{
    display:inline-flex;
}
.carousel-two-content__child{
    display:inline-flex;
}
.carousel-content_text-signature {
    margin: 50px;
}
.carousel-signature-rectangle{
    display: inline-flex;

}
.carousel-arrow-left:hover, .carousel-arrow-right:hover {
    cursor: pointer;

}
.page-six-conteiner{
    width: 1200px;
    margin: auto;
}
.page-six{
    margin-bottom: 122px;
}
.block-image-one{
    background-image: url("images/Layer 16.png");
    width: 380px;
    height: 470px;
   /* margin-left: -10px;
    margin-bottom: 10px;*/
    position: relative;
}
.block-image-one:hover {
    cursor: pointer;
    background-image: linear-gradient(to top, rgba(231, 211, 89, .85) 0%, rgba(186, 106, 104, .85) 100%), url("images/Layer 16.png");
    box-shadow: 10px 10px #95e1d3;
    top:-10px;
    left:-5px;
}
.block-image-one:hover .block-image-one__networks{
    display: block;
}
.block-image-two:hover .block-image-one__networks{
    display: block;
}
.block-image-three:hover .block-image-one__networks{
    display: block;
}
.block-image-two{
    background-image: url("images/Layer 19.png");
    height: 470px;
    width: 380px;
    position: relative;
}
.block-image-two:hover {
    cursor: pointer;
    background-image: linear-gradient(to top, rgba(231, 211, 89, .85) 0%, rgba(186, 106, 104, .85) 100%), url("images/Layer 19.png");box-shadow: 10px 10px #00FFFF;
    top:-10px;
    left:-5px;
    box-shadow: 10px 10px  #95e1d3;

}

.block-image-three{
    background-image: url("images/Layer 18.png");
    width: 380px;
    height: 470px;
    position: relative;
}
.block-image-three:hover {
    cursor: pointer;
    background-image: linear-gradient(to top, rgba(231, 211, 89, .85) 0%, rgba(186, 106, 104, .85) 100%), url("images/Layer 18.png");
    top:-10px;
    left:-5px;
    box-shadow: 10px 10px  #95e1d3;
}

.page-six-content{
width: 100%;
    justify-content: space-between;
    display: inline-flex;

}
.block-text-one{

    font-size: 14px;
    color: #333333;
    font-family: "Montserrat";
    font-weight: 600;
    text-align: center;
}
.block-text-two{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: gray;
    font-weight: 100;
}
.block-image-signature{
    width: 100%;
    text-align: center;
    margin-top: 30px;

}
.facebook{
    margin-bottom: 5px;
    margin-top: 5px;
    background-image: url(images/facebook.png);
    width: 13px;
    height: 26px;
    margin-left: 15px;
}
.twitter{
    background-image: url("images/twitter.png");
    width: 26px;
    height: 22px;
    margin-left: 9px;
    margin-bottom: 5px;
    margin-top: 7px;

}
.instagramm{
    background-image: url("images/instagram.png");
    height: 26px;
    width: 26px;
    margin-left: 7px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.pinterest{
    background-image: url("images/pinterest.png");
    height: 26px;
    width: 21px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.block-image-one__networks{
    display: inline-flex;
    margin-left: 120px;
    margin-top: 200px;
    justify-content: space-between;
    width: 165px;
    display: none;
    position: absolute
}
.network-line {
    display: inline-flex;
        }
.facebook-container{
    width: 40px;
    height: 40px;
    background-color: #F08080;
    margin-right: 2px;

}
.network-container{
    width: 40px;
    height: 40px;
    background-color: #FFD700;
    margin-right: 2px;
}
.block-company{
    background-color: #F5F5F5;
}
.block-company__image{
  background-image: url("images/Layer 25.png");
    width: 1179px;
    height: 127px;
}
.block-company-container{
    height: 250px;
    width: 1200px;
    margin: auto;
    align-items: center;
    align-content: center;
    display: flex;
    /*margin-left: 370px;
    margin-top: 100px;*/
}
.page-seven-container{
    width: 1200px;
    margin:auto;
}
.page-seven-content__block-one-image-first{
    background-image: url("images/Layer 26.png");
    width: 480px;
    height: 390px;
}
.page-seven-content__block-one-image-first:hover{
    cursor: pointer;
    background-image: linear-gradient(to top, rgba(231, 211, 89, .85) 0%, rgba(186, 106, 104, .85) 100%), url("images/Layer 26.png");
}
.page-seven-content__block-one-image-first:hover .page-seven-content__signature{
 display: block;
}

.page-seven-content__block-one-image-last{
    background-image: url("images/Layer 35.png");
    width: 480px;
    height: 390px;
}
.page-seven-content__block-one-image-last:hover{
    cursor: pointer;
    background-image: linear-gradient(to top, rgba(231, 211, 89, .85) 0%, rgba(186, 106, 104, .85) 100%), url("images/Layer 35.png");
}
.page-seven-content__block-one-image-last:hover .page-seven-content__signature{
    display: block;
}

.page-seven-content__block-two-image-first{
    background-image: url("images/Layer 33.png");
    height: 390px;
    width: 480px;
}
.page-seven-content__block-two-image-first:hover{
    cursor: pointer;
    background-image: linear-gradient(to top, rgba(231, 211, 89, .85) 0%, rgba(186, 106, 104, .85) 100%), url("images/Layer 33.png");
}
.page-seven-content__block-two-image-first:hover .page-seven-content__signature{
    display: block;
}

.page-seven-content__block-two-image-last{
    background-image: url("images/Layer 29.png");
    width: 480px;
    height: 390px;
}
.page-seven-content__block-two-image-last:hover{
    cursor: pointer;
    background-image: linear-gradient(to top, rgba(231, 211, 89, .85) 0%, rgba(186, 106, 104, .85) 100%), url("images/Layer 29.png");
}
.page-seven-content__block-two-image-last:hover .page-seven-content__signature{
    display: block;
}

.page-seven-content_block-three{
    background-image: url("images/Layer 34.png");
    height: 780px;
    width: 480px;
}
.page-seven-content_block-three:hover{
    background-image: linear-gradient(to top, rgba(231, 211, 89, .85) 0%, rgba(186, 106, 104, .85) 100%), url("images/Layer 34.png");
    cursor: pointer;
}
.page-seven-content_block-three:hover .page-seven-content__signature{
    display: block;
}

.page-seven-content__block-four-image-first{
    background-image: url("images/Layer 31.png");
    height: 390px;
    width: 480px;
}
.page-seven-content__block-four-image-first:hover{
    background-image: linear-gradient(to top, rgba(231, 211, 89, .85) 0%, rgba(186, 106, 104, .85) 100%), url("images/Layer 31.png");
    cursor: pointer;
}
.page-seven-content__block-four-image-first:hover .page-seven-content__signature{
    display: block;
}
.page-seven-content__block-four-image-last{
    background-image: url("images/Layer 32.png");
    width: 480px;
    height: 390px;
}
.page-seven-content__block-four-image-last:hover{
    background-image: linear-gradient(to top, rgba(231, 211, 89, .85) 0%, rgba(186, 106, 104, .85) 100%), url("images/Layer 32.png");
    cursor: pointer;
}
.page-seven-content__block-four-image-last:hover .page-seven-content__signature{
    display: block;
}
.page-seven-content{
    display: inline-flex;
    width: 100%;
}
.page-seven-content__block-two__image-in{
    background-image: url("images/PICTURE.png");
    width: 30px;
    height: 30px;
}
.page-seven-content-block-two__image-in{
    background-image: url("images/PICTURE white.png");
    width: 30px;
    height: 30px;
    margin-left: 65px;
    margin-bottom: 10px;
    margin-top: 15px;
}
.page-seven-content__text-first{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color:white;
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: center;
}
.page-seven-content__text-last{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: white;
    font-weight: 100;
    text-align: center;
}
.page-seven-content__signature{
   padding: 150px;
}
.carousel-two-image{
    background-image: url("images/Layer 36.png");
    width: 210px;
    height: 210px;
}
.carousel-two{
    margin-bottom: 100px;
    margin-top: 50px;
}
.page-eight{
    background-image: url("images/Layer 53.png");
    height: 830px;
}
.page-eight-content{
    margin-top: 80px;
    margin-bottom: 120px;
}
.page-eight-content_block-one-first-child-image{
 background-image: url("images/Layer 47.png");
    width: 110px;
    height: 110px;
    margin-right: 30px;
}
.page-eight-content_block-one-last-child-image{
    background-image: url("images/Layer 49.png");
    height: 110px;
    width: 110px;
    margin-right: 30px;
}
.page-eight-content_block-one{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 65px;
    margin-top: 5px;
}
.page-eight-container{
    margin: auto;
    width: 1200px;
}
.review-client{
    width: 389px;
   /* height: 129px;*/
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-family: "Roboto";
    font-weight: 400;
}
.name-client{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 5px;


}
.profession-client{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: black;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 20px;
}
.rectangle-client{
    background-image: url("images/Rectangle 5.png");
    width: 60px;
    height: 3px;
    margin-top: 10px;
    margin-bottom: 25px;
}
.page-eight-content_block-one-child{
    display: inline-flex;
}

.page-eight-content_block-two-first-child-image{
    background-image: url("images/Layer 50.png");
    height: 110px;
    width: 110px;
    margin-right: 30px;
}
.page-eight-content_block-two-last-child-image{
    background-image: url("images/Layer 51.png");
    width: 110px;
    height: 110px;
    margin-right: 30px;
}
.page-eight-content_block-two{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
.page-eight-content_block-two-child{
    display: inline-flex;
}
.page-nine-container{
    margin:auto;
    width: 1200px;
}
.blog-images__img-one{
    background-image: url("images/Layer 54.png");
    height: 240px;
    width: 380px;
}
.blog-images__data{
    background-image: url("images/Rectangle 23.png");
    width: 61px;
    height: 71px;
    margin-left: -10px;
    color:white;
    text-align: center;
}
.blog-images{
    margin-bottom: 20px;
}
.number-data{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 30px;
}
.month{
    color: white;
    margin-top: 2px;
    margin-bottom: 10px;
    margin-right: 5px;
    font-size: 14px;
    color: #ffffff;
    font-family: "Montserrat";
    text-align: center;
    font-style:italic;
}
.gray-line{
    background-image: url("images/Shape 4 copy.png");
    height: 1px;
    width: 385px;
    margin-bottom: 20px;
}
.eye{
    background-image: url("images/VIEW.png");
    height: 12px;
    width: 20px;
    margin-right: 5px;
}
.message{
    background-image: url("images/SPEECH BUBBLE 2.png");
    height: 15px;
    width: 16px;
    margin-right: 5px;
}
.footer-blog{
    display: inline-flex;
}
.views{
    margin-right: 20px;
    display: inline-flex;
    align-items: center;
}
.comments{
    display: inline-flex;
    align-items: center;
}
.name-blog{
    margin-bottom: 16px;
    margin-top: 5px;
    font-size: 14px;
    color: #333333;
    font-family: "Montserrat";
    font-weight: 600;
}
.text-blog{
    /*margin-top: 5px;*/
    margin-bottom: 20px;
    width: 380px;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-family: "Roboto";
    font-weight: 400;
}
.blog-images__img-two{
    background-image: url("images/Layer 55.png");
    width: 380px;
    height: 240px;
}
.page-nine-content{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 120px;
   margin-top: 50px;
}
.page-nine-content-child{
    width: 384px;
}
.blog-images__img-three{
    background-image: url("images/Layer 57.png");
    height: 240px;
    width: 380px;
}
.open-map{
    background-image: url("images/Layer 59.png");
    height: 200px;
    width: 100%;
}
.open-map-container{
    margin: auto;
    width: 1200px;
    display: flex;
}
.open-map-logo{
    background-image: url("images/PIN 2.png");
    margin-bottom: 10px;
    width: 20px;
    height: 26px;
    margin-left: 60px;
   /* margin-left: 595px;
    ;
    margin-top: 2px;*/
}
.open-map-text{
    /*text-align: center;*/
    font-size: 24px;
    color: #f38181;
    font-family: "Montserrat";
    font-weight: 700;
    margin-bottom: 20px;

}
.page-ten-container{
    width: 1200px;
    margin: auto;
}
.blue{
    filter: hue-rotate(168deg);
}
.google{
    background-image: url("images/google plus.png");
  width: 16px;
    height: 14px;
}
.ball{
    background-image: url("images/dribbble.png");
    width: 16px;
    height: 16px;
}
.tumblr{
    background-image: url("images/tumblr.png");
    width: 10px;
    height: 16px;
}
.youtube{
    background-image: url("images/youtube.png");
    width: 16px;
   height: 12px;
}
.soc-network{
    display: inline-flex;
    align-items: center;
}
.email{
    /*background-image: url("images/Rectangle 25.png");*/
    height: 41px;
    width: 230px;
    font-size: 15px;
    line-height: 24px;
    color: #cccccc;
    font-family: "Roboto";
    font-weight: 300;
    font-style: italic;
    background-color: #ffffff;
    border: 1px solid #e7e7e7;

}
.subscribe{
   /*background-image: url("images/Rectangle 17 copy 4.png");*/
    width: 150px;
    height: 46px;
    align-items: center;
    font-size: 14px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    background-color: #95e1d3;
    border: 0;
    padding: 0;

}

.ten{
    width: 450px;
}
.ten-header{
    margin-bottom: 35px;
    margin-top: 56px;
    font-size: 46px;
    color: #cccccc;
    font-family: "Montserrat";
    font-weight: 700;
}
.number-followers__number{
    font-size: 20px;
    margin-right: 5px;
}
.number-followers__text{
    margin-top: 2px;
    font-weight: 500;
}
.number-followers{
    display: inline-flex;
    margin-bottom: 18px;
    margin-top: 5px;

    font-size: 18px;
    color: #333333;
    font-family: "Montserrat";
    font-weight: 700;
}
.email-subscribe{
    display: inline-flex;
    margin-top: 30px;
}
.follow-networks{
    display: inline-flex;

}
.page-ten-child-block__image{
    margin-right: 15px;

}
.page-ten-child-block{
    margin-bottom: 30px;
    margin-top: 1px;
}
.page-ten-child-block__name{

    line-height: 18px;
    color: #333333;
    font-family: "Montserrat";
    font-weight: 500;
    color: #333333;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
    font-family: "Montserrat";


}

.one{
    background-image: url("images/photos1.png");
    height: 80px;
    width: 120px;
}
.page-ten-content{
    display: inline-flex;
    margin-bottom: 10px;
}
.page-ten-child-block{
    display: inline-flex;
    width: 343px;
}
.two{
    background-image: url("images/photos2.png");
    height: 80px;
    width: 120px;
}
.three{
    background-image: url("images/photos3.png");
    width: 120px;
    height: 80px;

}
.block-images{
    height: 88px;
    width: 88px;
    margin: 1px;
}
.image-one{
    background-image: url("images/mount.png");

}
.image-two{
    background-image: url("images/people.png");
}
.image-three{
    background-image: url("images/road.png");
}
.page-ten-child__block-images{
    display: inline-flex;
}
.image-four{
    background-image: url("images/night.png");
}
.image-five{
    background-image: url("images/wood.png");
}
.image-six{
    background-image: url("images/mountes.png");
}
.image-seven{
    background-image: url("images/tonn.png");
}
.image-eight{
    background-image: url("images/sh.png");
}
.image-nine{
    background-image: url("images/sea.png");
}
.page-ten-child{
    margin-right: 10px;

}
.block-blogs{
    margin-right: 80px;
}
.ten-text{
    margin-bottom: 45px;
    margin-top: 5px;
    width: 472px;
    height: 88px;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-family: "Roboto";
    font-weight: 400;

}
.subscribe__text{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 30px;
}
.page-ten-name-block{
    margin-top: 82px;
    margin-bottom: 40px;
}
.view-more{
    font-size: 13px;
    line-height: 24px;
    color: #333333;
    font-family: "Roboto";
    font-weight: 300;
    font-style: italic;
    margin-top: 12px;
    margin-bottom: 22px;
}

.line-container{
    width: 1200px;
    margin:auto;
   /* margin-top: 70px;*/
    margin-bottom: 26px;
}
.footer-line{
    width: 100%;
    margin-bottom: 23px;
}
.footer{
    margin-left: auto;
    margin-right: auto;
    width: 1217px;
    /* margin: auto; */
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    color: #333333;
    font-family: "Montserrat";
    margin-bottom: 26px;
}

.facebook-two{
   background-image: url("images/facebook (1).png");
    width: 9px;
    height: 17px;
}
.twitter-two{
    background-image: url("images/twitter(1).png");
    height: 14px;
    width: 17px;
}
.instagramm-two{
    background-image: url("images/instagram(1).png");
    width: 17px;
    height: 17px;
}
.soc{
    margin-right: 10px;
}
.follow-us{
    margin-right: 20px;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-family: "Roboto";
    font-weight: 300;
    font-style: italic;
}

.calendar{
    padding-top: 160px;
}
.open-map-wrapper{
    padding-top: 60px;
    /* width: 150px; */
    /* height: 150px; */
    /* align-items: center; */
    /* text-align: center; */
    margin: auto;
    /* align-content: center; */
}
.insta-content{
    padding-bottom: 3px;
}
.blue-shadow-six{
    background-image: url("images/Rectangle 14 copy.png");
    width: 380px;
    height: 471px;

}

.title {
    font-size: 14px;
    color: #333333;
    font-family: "Montserrat";
    font-weight:700;
    margin-bottom: 20px;
}
.page-ten-child-block__text-data{
    width: 220px;
    margin-top: 10px;
    height: 46px;

}
.page-ten-child-block__data{
   /* margin-bottom: 35px;*/
    font-size: 13px;
    line-height: 24px;
    color: #999999;
    font-family: "Roboto";
    font-weight: 300;
    font-style: italic;
}

.сarousel-text-two {
    /*margin-bottom: 35px;
    margin-top: 10px;*/
    font-weight: 300;
    font-style: italic;
    width: 770px;
    height: 147px;
    font-size: 24px;
    line-height: 36px;
    color: #999999;
    font-family: "Roboto";
    font-weight: 300;
    font-style: italic;
}
.number-eye{
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-family: "Roboto";
    font-weight: 300;
    font-style: italic;
}
.number-message{
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-family: "Roboto";
    font-weight: 300;
    font-style: italic;
}
.colortext{
    color: #F08080;
}
.page-one-footer-two__child-text {
    margin-top: 6px;
    font-size: 18px;
    font-weight: 500;
}